/* * {
    box-sizing: border-box;
    outline: 1px solid green !important;
}

.container {
   display: flex;
   flex-direction: column;
    
}
h2 {
    justify-content: center;
}

.userTable {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    float: right;
    gap: 15px;
}
.sidenav {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: aquamarine;
    gap: 15px;
}

.createForm {

    display: flex;
    position: relative;
    flex-direction: column;
    gap: 15px;
} */
